/*.card{
	transition: all .2s;
}

.card:hover{
	
	box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
	border: 0 solid rgba(0,0,0,.125);
	background:#9bc4f947;
}*/

/*body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	line-height: 1.5;
}*/

.text-black{
	color: #000!important;
}

.text-40{
	font-size: 40px!important;
}

.text-20{
	font-size: 20px!important;
}

.text-13{
	font-size: 13px!important;
}

.text-12{
	font-size: 12px!important;
}

.weight-bold{
	font-weight: 700;
}

.btn-grand{
	border-radius: 90px; 
	background-image: linear-gradient(to right,#2eb3c7 0,#6ef8ff 100%); 
	color: #fff; 
	/*box-shadow: 0 5px 10px rgba(79,172,254,.2); */
	border:0;
}

.modal-header{
	background-image: linear-gradient(to right,#2eb3c7 0,#6ef8ff 100%); 
	color: #fff;
	/*box-shadow: 0 5px 10px rgba(79,172,254,.2); */
}

.page-item.active .page-link{
	background-color :#17a2b8;
	border-color:#148ea1;
}

.page-link{
	color:#17a2b8;
}

.card{
	border-radius:0;
	border:0;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
	background: #17a2b8;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
	background: #17a2b8;
}

.wizard > .content{
	min-height: 15em;
	background: #fff!important;
	border: 1px solid #d4d4d4;
	color: #000;
}

.wizard > .content > .body{
	position: relative;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
	padding: 8px;
}

.input-group-text{
	color: #fff;
	background-color: #17a2b8!important;
	border: #148ea1;
}

.main-sidebar{
	z-index: 1000;
}

#sidebar-overlay{
	z-index: 999;
}














